.game-board {
  --blue: #086788;
  --yellow: #f0c808;
  --gap-spacing: 16px;
  --main-padding: min(5%, 24px);
  width: clamp(320px, 100%, 1440px);
  display: grid;
  gap: var(--gap-spacing);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: var(--main-padding);
  margin-top: min(7%, 42px);
}

.card {
  cursor: pointer;
  background: linear-gradient(180deg, #c5283d, white);
  border: 5px solid var(--blue);
  border-radius: 30px;
  display: grid;
  letter-spacing: 6px;
  color: var(--yellow);
  text-shadow: 3px 3px var(--blue), -3px -3px 3px var(--blue);
  justify-content: center;
  align-items: center;
  grid-template-rows: 100px 1fr;
  transition: transform 0.3s ease-in-out;
  padding: min(3%, 16px);
}

.card:hover {
  transform: scale(1.05);
}

.card h1 {
  font-size: clamp(1rem, 0.3rem + 1vw, 1.7rem);
  text-align: center;
}

.card img {
  width: 200px;
  height: auto;
}

.loading {
  min-width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.spinner {
  width: 100px;
  height: 100px;
  border: 5px solid #f0c808;
  border-radius: 50%;
  border-bottom-color: var(--blue);
  animation: Spin 1s infinite;
}

.error {
  text-align: center;
 min-width: 100%;
 min-height: 60vh;
 display: flex;
 align-items: center;
 justify-content: center; 
}

@keyframes Spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
