.game-board {
  --gap-spacing: 16px;
  --main-padding: min(5%, 24px);
  width: clamp(320px, 100%, 1440px);
  display: grid;
  gap: var(--gap-spacing);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: var(--main-padding);
  margin-top: min(7%, 42px);
}

.card {
  cursor: pointer;
  background: linear-gradient(180deg, #c5283d, white) ; 
  border: 5px solid #086788;
  border-radius: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 100px 1fr;
  transition: transform 0.3s ease-in-out;
  padding: min(3%, 16px);
}

.card:hover {
  transform: scale(1.05);
}

.card h1 {
  font-size: clamp(1rem, 0.3rem + 1vw, 1.7rem);
  text-align: center;
}

.card img {
  width: 200px;
  height: auto;
}